@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-text {
  font-size: 2rem;
  font-weight: bold;
  color: #1e3a8a; /* Tailwind CSS color for blue-800 */
  border-right: 2px solid #1e3a8a; /* Cursor effect */
  animation: blink-caret 0.75s step-end infinite;
}

/* Cursor blink effect */
@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #1e3a8a; }
}

nav {
    backdrop-filter: blur(10px); /* Add a slight blur to the navbar for better blending */
  }
  
  a {
    color: #1f2937; /* Default text color (gray-900) */
  }
  
  a:hover {
    color: #3b82f6; /* Hover text color (blue-500) */
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Helvetica', 'Arial', sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  body.dark {
    background-color: #1a202c; /* Tailwind's gray-900 */
    color: #edf2f7; /* Tailwind's gray-100 */
  }
  
  /* Ensure components and text colors switch appropriately */
  .dark .bg-white {
    background-color: #1a202c; /* Switch white backgrounds to dark */
  }
  .dark .text-gray-900 {
    color: #edf2f7; /* Switch text to light color */
  }
  